.sidenav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}
@media screen and (min-width: 768px){
    
    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
}
.login-main-text{
    margin-top: 20%;
    padding: 70px;
    color: #fff;
}
.btn-black{
    margin: 10px;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
}