<body>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form [formGroup]="loginForm">
                 <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                 </div>
                 <!--<div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                    <p></p>
                 </div>-->
                 <button type="submit" class="btn btn-black" (click)="getUsers()">Consultar</button>
                 <!--<button type="submit" class="btn btn-secondary">Register</button>-->
              </form>
           </div>
        </div>
     </div>
</body>

